{% extends 'base.html.twig' %} {% block title %}Inscription{% endblock %} {% block body %} {% include
'menu/_header.html.twig' %} {% for flash_error in app.flashes('verify_email_error') %}
<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
{% endfor %}

<h1 class="titre">Inscription</h1>
<div class="container">
  <h2>Pour vous inscrire, veuillez renseigner les éléments suivant :</h2>
  <div class="form-container">
    {{ form_start(registrationForm) }}

    {{ form_row(registrationForm.email) }}

    {{
      form_row(registrationForm.plainPassword, {
        label: "Mot de passe"
      })
    }}

    <button type="submit" class="btn-submit">Valider</button>

    {{ form_end(registrationForm) }}
  </div>
</div>

{% include 'menu/_footer.html.twig' %} {% endblock %}
